@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script>
        function myCookie() {
            localStorage.removeItem('id');
            //debugger;
            //window.location.replace("http://Report/Index");
              window.location.replace("http://www.tmatsol.com//Report/Index");
        }
    </script>
</head>
<body onload="myCookie()">
</body>
</html>

