
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="container">
    <h4 class="text-center text-uppercase">About Us</h4>
    <hr />
    <h6 class="text-center">www.tmatsol.com</h6>
    <center><h4 style="font-weight:bold;">     THINK SOFTWARES  </h4></center>
    <p style="text-align:justify">We are the main traders Think software products established in 2001 at India And Trading Software’s overall in gulf regions specifically in UAE, Oman, Doha, Bahrain, Africa, Europe and also Asia Region Singapore, India.Our main product covers finance integrated with <b>( Inventory, POS–Showroom, POS–Restaurant, Saloon & Spa Software, Laundry Software, Bar & Club Software, Tour & Tourism, Meat Shop Software, Car wash Software, PDA Applications, Smart Cheque Printing, Barcode Printing, Automatic Email generation for specific report and Multi-branch Centralization Database ).</b></b></p>
    <p style="text-align:justify">We provide best-in-class cost-effective solutions Having years of experience and ready to be deployed consultants in almost every industry, restaurant & retail shop, offices, food court, manufacturing, healthcare, security, transportation, consulting, logistics, high-tech, government and hospitality, we can assure you that we will assign a team to your project that understands your industry and your needs and can help you stay competitive in this digital economy.</p>
    <p style="text-align:justify">We are having Plan, direct, and coordinate the development, implementation, deployment and operation of information systems and technology solutions for business needs, Plan, direct and coordinate daily activities of a department/group/team.</p>
    <p style="text-align:justify">We are also in other IT solution like System, Networking, GPS Vehicle Tracking System. Etc.</p>

    <div class="card-deck justify-content-around">
        <img height="50%" width="50%" src="~/images/about.jpeg" />
    </div>

    <h4 style="font-weight:bold;">WHAT OUR CEO SAYS ABOUT THINK SOFTWARES.</h4>
    <p style="text-align:justify">We Pride ourselves in bring together the right people, knowledge, methodology, and technologies to provide an unparallel service offering. Whether you require IT solution, IT consulting, technology integration (offsite or onsite, time and materials or fixed bid projects) or Business process outsourcing solutions; Think Softwares can get the job done.</p>
    <p style="text-align:justify">We can develop customized solutions that will exceed your expectations and we will do it in niche time.</p>
    <hr />
</div>
