@{
    ViewBag.Title = "Branches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<section id="services" class="container">
    <!--Deck1-->
    <div class="card-deck justify-content-around">
    
        <div class="container">
            <h4 class="text-center text-uppercase">Branches</h4>
            <hr />
            <div style="float:left; width:50%">
                <div style="float:left;height:50%;">
                    <center><h6><b>Middle East</b></h6></center>
                    <img style="float:left;height:100%;width:98%;" src="~/images/dubai.jpg" />

                </div>
                <h2>Dubai</h2>
                @*<p><b>Address:</b><br />
            304, MAKEYA SHARAFI BUILDING,<br />
            BESIDES YORK INTERNATIONAL HOTEL,<br />
            KHALID BIN WALEED ROAD,<br />
            BUR DUBAI,UAE.
        </p>*@
                <p>
                    <b>Address:</b><br />
                    2033, AL FALAH INTERNATIONAL TRADING LLC<br />
                    20TH FLOOR<br />
                    THE BURJUMAN BUSINESS TOWER<br />
                    SHEIKH ZAYED STREET<br />
                    BURJUMAN, DUBAI, UAE.<br />
                </p>
            </div>
            <div style="width:50%;float:left;">
                <div style="float:left;height:50%;">
                    <center><h6><b>India</b></h6></center>
                    <img style="float:left;height:100%;width:98%;" src="~/images/vadodra.jpg" />
                </div>
                <h2>Vadodara</h2>
                <p>
                    <b>Address:</b><br />
                    115, Blue Diamond Complex,<br />
                    Behind Fatehgunj Petrol Pump,<br />
                    Fatehgunj, Vadodara-(390002), Gujarat, India<br />

                </p>
</div>

        </div>
    </div>
</section>

