
@{
    ViewBag.Title = "services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<section id="services" class="container">
    <!--Deck1-->
    <div class="card-deck justify-content-around">

        <div class="container">
            <h4 class="text-center text-uppercase">Services</h4>
            <hr />
            <div style="float:left">
                <div style="height:50%;">
                    <center><h6><b>SOFTWARE DEVELOPMENT</b></h6></center>
                    <img style="float:left;height:30%;width:30%;" src="~/images/sw.jpg" />
                    <p style="text-align:justify">A software development process (also known as a software development methodology, model, or life cycle) is a framework that is used to structure, plan, and control the process of developing information systems. A wide variety of such frameworks has evolved over the years, each with its own recognized strengths and weaknesses. There are several different approaches to software development: some take a more structured, engineering-based approach to develop business solutions, whereas others may take a more incremental approach, where software evolves as it is developed piece-by-piece. One system development methodology is not necessarily suitable for use by all projects. Each of the available methodologies is best suited to specific kinds of projects, based on various technical, organizational, project and team considerations.</p>
                </div>
                <br />

                <div style="height:50%;">
                    <center><h6><b>WEBSITE DEVELOPMENT</b></h6></center>
                    <img style="float:right; height:30%;width:30%;" src="~/images/web.png" />
                    <p style="text-align:justify">Web development is the work involved in developing a Web site for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing a simple single static page of plain text to complex Web-based Internet applications (Web apps), electronic businesses, and social network services. A more comprehensive list of tasks to which Web development commonly refers, may include Web engineering, Web design, Web content development, client liaison, client-side/server-side scripting, Web server and network security configuration, and e-commerce development. Among Web professionals, "Web development" usually refers to the main non-design aspects of building Web sites: writing mark-up and coding. Web development may use content management systems (CMS) to make content changes easier and available with basic technical skills. </p>
                </div>
                <br />

            </div>
            <div style="float:right;">
                <div style="height:50%">
                    <center><h6><b>MOBILE APP DEVELOPMENT</b></h6></center>
                    <img style="float:left;height:30%;width:30%;" src="~/images/mobile-app-development.png" />
                    <p style="text-align:justify">As part of the development process, mobile user interface (UI) design is also essential in the creation of mobile apps. Mobile UI considers constraints, contexts, screen, input, and mobility as outlines for design. The user is often the focus of interaction with their device, and the interface entails components of both hardware and software. User input allows for the users to manipulate a system, and device's output allows the system to indicate the effects of the users' manipulation. Mobile UI design constraints include limited attention and form factors, such as a mobile device's screen size for a user's hand(s). Mobile UI contexts signal cues from user activity, such as location and scheduling that can be shown from user interactions within a mobile app. Overall, mobile UI design's goal is mainly for an understandable, user-friendly interface. The UI of mobile apps should: consider users' limited attention, minimize keystrokes, and be task-oriented with a minimum set of functions. This functionality is supported by mobile enterprise application platforms or integrated development environments (IDEs).</p>
                </div>
            </div>
        </div>

    </div>
    </section>

     
