
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Style1.css" rel="stylesheet" />
<hr />
<h4 class="text-center">Video Gallery</h4>
<hr />
<section id="services" class="container">
    <!--Deck1-->
    <div class="card-deck">
        <div class="Gallery">
            <div class="vid">
                <video id="video1" src="~/images/Gallery/op.mp4" width="45%" height="45%" controls></video>
                <video id="video1" src="~/images/Gallery/op.mp4" width="45%" height="45%" controls></video>
                <video id="video1" src="~/images/Gallery/op.mp4" width="45%" height="45%" controls></video>
                <video id="video1" src="~/images/Gallery/op.mp4" width="45%" height="45%" controls></video>
                <video id="video1" src="~/images/Gallery/op.mp4" width="45%" height="45%" controls></video>
                <video id="video1" src="~/images/Gallery/op.mp4" width="45%" height="45%" controls></video>
                <video id="video1" src="~/images/Gallery/op.mp4" width="45%" height="45%" controls></video>
                <video id="video1" src="~/images/Gallery/op.mp4" width="45%" height="45%" controls></video>
                <video id="video1" src="~/images/Gallery/op.mp4" width="45%" height="45%" controls></video>
                <video id="video1" src="~/images/Gallery/op.mp4" width="45%" height="45%" controls></video>
                <video id="video1" src="~/images/Gallery/op.mp4" width="45%" height="45%" controls></video>
                <video id="video1" src="~/images/Gallery/op.mp4" width="45%" height="45%" controls></video>

            </div>
        </div>
    </div>
</section>