﻿@*<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title></title>
        <style type="text/css">
            .auto-style1 {
                width: 289px;
            }

            .auto-style2 {
                width: 139px;
            }

            .auto-style3 {
                width: 159px;
            }

            .auto-style4 {
                width: 139px;
                font-weight: bold;
            }

            .auto-style5 {
                width: 38px;
                font-weight: bold;
            }

            .auto-style6 {
                width: 122px;
                font-weight: bold;
            }

            .auto-style7 {
                width: 122px;
            }

            .auto-style8 {
                width: 38px;
            }

            .auto-style9 {
                width: 100%;
                font-weight: bold;
            }

            .auto-style10 {
                width: 61px;
            }
        </style>
    </head>
    <body>
        <form id="form1" runat="server">
            <div>

                <table style="width:100%;" id="Acv1">
                    <tr>
                        <td class="auto-style1" colspan="5" style="text-align:center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" ;><strong>AL FALAH INTERNATIONAL L.L.C</strong></td>
                    </tr>
                    <tr>
                        <td class="auto-style1" colspan="5" style="text-align:center">2033, Burjuman business Tower, 20th floor</td>

                    </tr>
                    <tr>
                        <td class="auto-style1" colspan="5" style="text-align:center">Dubai, UAE</td>

                    </tr>
                    <tr>
                        <td class="auto-style1" colspan="5" style="text-align:center"><strong>TAX INVOICE</strong></td>
                    </tr>
                    <tr>
                        <td class="auto-style7">BILL NO</td>
                        <td colspan="4">1</td>

                    </tr>
                    <tr>
                        <td class="auto-style7">BILL DATE</td>
                        <td colspan="4">06-SEP-2021 12:59:40</td>

                    </tr>
                    <tr>
                        <td class="auto-style7">MODE</td>
                        <td colspan="4">T1 (DINNER) PAX:1</td>

                    </tr>
                </table>

                <table style="width:100%;" id="Acv2">
                    <tr>
                        <td class="auto-style9" style="border-width: thin; border-top-style: groove; border-bottom-style: groove" colspan="2">ITEM</td>
                        <td class="auto-style5" style="border-width: thin; border-top-style: groove; border-bottom-style: groove">QTY</td>
                        <td class="auto-style4" style="border-width: thin; border-top-style: groove; border-bottom-style: groove">RATE</td>
                        <td class="auto-style3" style="border-width: thin; border-top-style: groove; border-bottom-style: groove"><b>VALUE</b></td>
                    </tr>
                    <tr style="border-width: thin; border-bottom-style: groove">
                        <td colspan="2">BUTTER NAAN</td>
                        <td class="auto-style8">1</td>
                        <td class="auto-style2">120.00</td>
                        <td>120.00</td>
                    </tr>
                    <tr style="border-width: thin; border-bottom-style: groove">
                        <td colspan="2">BUTTER NAAN EXTRA CHEES</td>
                        <td class="auto-style8">1</td>
                        <td class="auto-style2">180.00</td>
                        <td>120.00</td>
                    </tr>
                    <tr style="border-width: thin; border-bottom-style: groove">
                        <td colspan="2">BUTTER NAAN DOUBLE CHEES</td>
                        <td class="auto-style8">1</td>
                        <td class="auto-style2">200.00</td>
                        <td>120.00</td>
                    </tr>
                </table>

                <table style="width:100%;" id="Acv3">
                    <tr>
                        <td style="border-top-style: groove; border-width: thin" colspan="3">GROSS AMOUNT</td>
                        <td class="auto-style2" style="border-top-style: groove; border-width: thin">120.00</td>
                        <td style="border-top-style: groove; border-width: thin">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style7">&nbsp;</td>
                        <td class="auto-style10">&nbsp;</td>
                        <td class="auto-style8">&nbsp;</td>
                        <td class="auto-style2">10.91</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style9" style="font-size: larger" colspan="2">NET AMOUNT</td>
                        <td class="auto-style5" style="font-size: larger">&nbsp;</td>
                        <td class="auto-style4" style="font-size: larger">120.00</td>
                        <td style="font-size: larger"><b></b></td>
                    </tr>
                    <tr>
                        <td class="auto-style6" style="border-top-style: groove; border-width: thin; border-bottom-style: groove">(TAX)%</td>
                        <td class="auto-style9" style="border-top-style: groove; border-width: thin; border-bottom-style: groove" colspan="2">TAXXABLE AMT</td>
                        <td class="auto-style4" style="border-top-style: groove; border-width: thin; border-bottom-style: groove">TAX AMOUNT</td>
                        <td style="border-top-style: groove; border-width: thin; border-bottom-style: groove"><b>TOTAL</b></td>
                    </tr>
                    <tr>
                        <td class="auto-style7" style="border-bottom-style: groove; border-width: thin">10.00</td>
                        <td style="border-bottom-style: groove; border-width: thin" colspan="2">109.09</td>
                        <td class="auto-style2" style="border-bottom-style: groove; border-width: thin">10.91</td>
                        <td style="border-bottom-style: groove; border-width: thin">120.00</td>
                    </tr>
                    <tr>
                        <td class="auto-style7">REMARK1</td>
                        <td class="auto-style10">&nbsp;</td>
                        <td class="auto-style8">&nbsp;</td>
                        <td class="auto-style2">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style7">REMARK2</td>
                        <td class="auto-style10">&nbsp;</td>
                        <td class="auto-style8">&nbsp;</td>
                        <td class="auto-style2">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style7">REMARK3</td>
                        <td class="auto-style10">&nbsp;</td>
                        <td class="auto-style8">&nbsp;</td>
                        <td class="auto-style2">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style7">REMARK4</td>
                        <td class="auto-style10">&nbsp;</td>
                        <td class="auto-style8">&nbsp;</td>
                        <td class="auto-style2">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style7">REMARK5</td>
                        <td class="auto-style10">&nbsp;</td>
                        <td class="auto-style8">&nbsp;</td>
                        <td class="auto-style2">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style7">REMARK6</td>
                        <td class="auto-style10">&nbsp;</td>
                        <td class="auto-style8">&nbsp;</td>
                        <td class="auto-style2">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style7">&nbsp;</td>
                        <td class="auto-style10">&nbsp;</td>
                        <td class="auto-style8">&nbsp;</td>
                        <td class="auto-style2">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>

            </div>
            <button id="Button1" onclick="prt()">PRINT</button>
        </form>

    </body>
    </html>
    <script>
        function prt() {
            var t1 = document.getElementById("Acv1").innerHTML;
            var t2 = document.getElementById("Acv2").innerHTML;
            var t3 = document.getElementById("Acv3").innerHTML;
            var myWindow = window.open('', '', 'width=800,height=800');
            myWindow.document.write('<html><head>');

            myWindow.document.write('</head > <body>');
            myWindow.document.write('<table style="width:100%;">');
            myWindow.document.write(t1);
            myWindow.document.write('</table>');
            myWindow.document.write('<table style="width:100%;">');
            myWindow.document.write(t2);
            myWindow.document.write('</table>');
            myWindow.document.write('<table style="width:100%;">');
            myWindow.document.write(t3);
            myWindow.document.write('</table>');
            myWindow.document.write('</body></html>');
            myWindow.print();
            myWindow.document.close();
            //window.print();
        }
    </script>*@
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <style type="text/css">
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .button1 {
            background-color: red;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .auto-style1 {
            width: 289px;
        }

        .auto-style2 {
            width: 139px;
        }

        .auto-style3 {
            width: 159px;
        }

        .auto-style4 {
            width: 139px;
            font-weight: bold;
        }

        .auto-style5 {
            width: 38px;
            font-weight: bold;
        }

        .auto-style6 {
            width: 122px;
            font-weight: bold;
        }

        .auto-style7 {
            width: 122px;
        }

        .auto-style8 {
            width: 38px;
        }

        .auto-style9 {
            width: 100%;
            font-weight: bold;
        }

        .auto-style10 {
            width: 61px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div>

            <table style="width:100%;" id="Acv1">
            </table>

            <table style="width:100%;" id="Acv2">
            </table>

            <table style="width:100%;" id="Acv3">
            </table>

        </div>
        <button id="Button1" class="button" onclick="prt()">PRINT</button>
        <button id="Button1" class="button" onclick="prt_test()">ANDROID PRINT</button>
        <a class="button1" href="@Url.Action("Menu", "RTC")">BACK</a>
    </form>

</body>
</html>
@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
         var refresher = setInterval(function () {
                PageRefresh();
              }, 120000);//evry 20 sec....

              function PageRefresh() {
            $.ajax({
                type: "get",
                url: "/RTC/PageRefresh",                
                dataType: "json",
                traditional: true,
                success: function (data) {
                    if (data.R_fresh == false) {
                        alert("R_fresh request False !!!!!")
                    }
                    
                }
                //2022/2/2
                    , error: function (request, status, error) {
                  location.reload();
                }
            });
        }

        FillBillData();
    });
    function FillBillData() {
        $.ajax({
            type: "Get",
            url: "/Recipt/GetHF",
            data: {},
            dataType: "json",
            traditional: true,
            success: function (data) {
                //$("#Acv1").html('');

                //var fill = "<tr>" +
                //    "<td class='auto-style1' colspan='5' style='text-align:center; font-family:'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif' ;><strong>" + data.Company_Names + "</strong></td>" +
                //    "</tr>" +
                //    "<tr>" +
                //    "<td class='auto-style1' colspan='5' style='text-align:center'>" + data.Headline1 + "</td>" +
                //    "</tr>" +
                //    "<tr>" +
                //    "<td class='auto-style1' colspan='5' style='text-align:center'>" + data.Headline2 + "</td>" +
                //    "</tr>" +
                //    "<tr>" +
                //    "<td class='auto-style1' colspan='5' style='text-align: center'><strong>TAX INVOICE</strong></td>" +
                //    "</tr>" +
                //    "<tr>" +
                //    "<td class='auto-style7'>BILL NO</td>" +
                //    "<td colspan='4'>" + data.Bill_No + "</td>" +
                //    "</tr>" +
                //    "<tr>" +
                //    "<td class='auto-style7'>BILL DATE</td>" +
                //    "<td colspan='4'>" + data.BillDate + "</td>" +
                //    "</tr>" +
                //    "<tr>" +
                //    "<td class='auto-style7'>MODE</td>" +
                //    "<td colspan='4'>" + data.Mode + "</td>" +
                //    "</tr>";

                //$("#Acv1").append(fill);
                ////---------------------------------------------------------------------------------------------
                //$("#Acv2").html('');
                //var fill1 = "<tr>" +
                //    "<td class='auto-style9' style='border-width: thin; border-top-style: groove; border-bottom-style: groove' colspan='2'>ITEM</td>" +
                //    "<td class='auto-style5' style='border-width: thin; border-top-style: groove; border-bottom-style: groove'>QTY</td>" +
                //    "<td class='auto-style4' style='border-width: thin; border-top-style: groove; border-bottom-style: groove'>RATE</td>" +
                //    "<td class='auto-style3' style='border-width: thin; border-top-style: groove; border-bottom-style: groove'><b>VALUE</b></td>" +
                //    "</tr>";
                //for (var i = 0; i < data.length; i++) {
                //    fill1 += "<tr style='border-width: thin; border-bottom-style: groove'>" +
                //        "<td colspan='2'>" + data[i].ITEM + "</td>" +
                //        "<td class='auto-style8'>" + data[i].QTY + "</td>" +
                //        "<td class='auto-style2'>" + data[i].RATE + "</td>" +
                //        "<td>" + data[i].VALUE + "</td>" +
                //        "</tr>";
                //}
                //$("#Acv2").append(fill1);
                ////---------------------------------------------------------------------------------------------
                //$("#Acv3").html('');
                //var fill2 = "<tr>" +
                //    "<td style='border-top-style: groove; border-width: thin' colspan='3'>GROSS AMOUNT</td>" +
                //    "<td class='auto-style2' style='border-top-style: groove; border-width: thin'>" + data.GrossAmt + "</td>" +
                //    "<td style='border-top-style: groove; border-width: thin'>&nbsp;</td>" +
                //    "</tr>" +
                //    "<tr>" +
                //    "<td class='auto-style7'>&nbsp;</td>" +
                //    "<td class='auto-style10'>&nbsp;</td>" +
                //    "<td class='auto-style8'>&nbsp;</td>" +
                //    "<td class='auto-style2'>" + data.TAXAmt + "</td>" +
                //    "<td>&nbsp;</td>" +
                //    "</tr>" +
                //    "<tr>" +
                //    "<td class='auto-style9' style='font-size: larger' colspan='2'>NET AMOUNT</td>" +
                //    "<td class='auto-style5' style='font-size: larger'>&nbsp;</td>" +
                //    "<td class='auto-style4' style='font-size: larger'>" + data.NetAmt + "</td>" +
                //    "<td style='font-size: larger'><b></b></td>" +
                //    "</tr>" +
                //    "<tr>" +
                //    "<td class='auto-style6' style='border-top-style: groove; border-width: thin; border-bottom-style: groove'>(TAX)%</td>" +
                //    "<td class='auto-style9' style='border-top-style: groove; border-width: thin; border-bottom-style: groove' colspan='2'>TAXXABLE AMT</td>" +
                //    "<td class='auto-style4' style='border-top-style: groove; border-width: thin; border-bottom-style: groove'>TAX AMOUNT</td>" +
                //    "<td style='border-top-style: groove; border-width: thin; border-bottom-style: groove'><b>TOTAL</b></td>" +
                //    "</tr>" +
                //    "<tr>" +
                //    "<td class='auto-style7' style='border-bottom-style: groove; border-width: thin'>" + data.TAX_per + "</td>" +
                //    "<td style='border-bottom-style: groove; border-width: thin' colspan='2'>" + data.Taxable_Amt + "</td>" +
                //    "<td class='auto-style2' style='border-bottom-style: groove; border-width: thin'>" + data.TAX_amt + "</td>" +
                //    "<td style='border-bottom-style: groove; border-width: thin'>" + data.Total + "</td>" +
                //    "</tr>";
                //$("#Acv3").append(fill2);
                $("#Acv1").html('');
                $("#Acv2").html('');
                $("#Acv3").html('');

                //---------------------------------------------------------------------------------------------

                var fill1 = "<tr>" +
                    "<td class='auto-style9' style='border-width: thin; border-top-style: groove; border-bottom-style: groove' colspan='2'><b>ITEM</b></td>" +
                    "<td class='auto-style5' style='border-width: thin; border-top-style: groove; border-bottom-style: groove'><b>QTY</b></td>" +
                    "<td class='auto-style4' style='border-width: thin; border-top-style: groove; border-bottom-style: groove'><b>RATE</b></td>" +
                    "<td class='auto-style3' style='border-width: thin; border-top-style: groove; border-bottom-style: groove'><b>VALUE</b></td>" +
                    "</tr>";
                for (var i = 0; i < data.length; i++) {
                    //fill1 += "<tr style='border-width: thin; border-bottom-style: groove'>" +
                    //    "<td colspan='2'>" + data[i].ITEM + "</td>" +
                    //    "<td class='auto-style8'>" + data[i].QTY + "</td>" +
                    //    "<td class='auto-style2'>" + data[i].RATE + "</td>" +
                    //    "<td>" + data[i].VALUE + "</td>" +
                    //    "</tr>";
                    fill1 += "<tr style='border-width: thin; border-bottom-style: groove'>" +
                        "<td colspan='2'>" + data[i].ITEM + "</td>" +
                        "<td class='auto-style8' style=' text-align: right;'>" + Number(data[i].QTY).toFixed(data[i].Decimal_Point) + "</td>" +
                        "<td class='auto-style2' style=' text-align: right;'>" + Number(data[i].RATE).toFixed(data[i].Decimal_Point) + "</td>" +
                        "<td style=' text-align: right;'>" + Number(data[i].VALUE).toFixed(data[i].Decimal_Point) + "</td>" +
                        "</tr>";
                    
                    var fill = "<tr>" +
                        "<td class='auto-style1' colspan='5' style='text-align:center; font-family:'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif' ;><strong>" + data[i].Company_Names + "</strong></td>" +
                        "</tr>" +
                        "<tr>" +
                        "<td class='auto-style1' colspan='5' style='text-align:center'>" + data[i].Headline1 + "</td>" +
                        "</tr>" +
                        "<tr>" +
                        "<td class='auto-style1' colspan='5' style='text-align:center'>" + data[i].Headline2 + "</td>" +
                        "</tr>" +
                        "<tr>" +
                        "<td class='auto-style1' colspan='5' style='text-align: center'><strong>TAX INVOICE</strong></td>" +
                        "</tr>" +
                        "<tr>" +
                        "<td class='auto-style7'>BILL NO</td>" +
                        "<td colspan='4'>" + data[i].Bill_No + "</td>" +
                        "</tr>" +
                        "<tr>" +
                        "<td class='auto-style7'>BILL DATE</td>" +
                        "<td colspan='4'>" + data[i].BillDate + "</td>" +
                        "</tr>" +
                        "<tr>" +
                        "<td class='auto-style7'>MODE</td>" +
                        "<td colspan='4'>" + data[i].Mode + "</td>" +
                        "</tr>";

                    var fill2 = "<tr>" +
                        "<td style='border-top-style: groove; border-width: thin' colspan='4'>GROSS AMOUNT</td>" +
                        "<td class='auto-style2' style='border-top-style: groove; border-width: thin; text-align: right;''>" + data[i].GrossAmt + "</td>" +
                        /*"<td style='border-top-style: groove; border-width: thin'>&nbsp;</td>" +*/
                        "</tr>" +
                        "<tr>" +
                        "<td class='auto-style7'>&nbsp;</td>" +
                        "<td class='auto-style10'>&nbsp;</td>" +
                        "<td class='auto-style8'>&nbsp;</td>" +
                        "<td class='auto-style8'>&nbsp;</td>" +
                        "<td class='auto-style2' style='text-align: right;'>" + data[i].TAXAmt + "</td>" +
                       /* "<td>&nbsp;</td>" +*/
                        "</tr>" +
                        "<tr>" +
                        "<td class='auto-style9' style='font-size: large' colspan='4'><b>NET AMOUNT</b></td>" +
                       /* "<td class='auto-style5' style='font-size: large'>&nbsp;</td>" +*/
                        "<td class='auto-style4' style='font-size: large;text-align: right;'><b>" + data[i].NetAmt + "</b></td>" +
                        /*"<td style='font-size: larger'><b></b></td>" +*/
                        "</tr>" +
                        "<tr>" +
                        "<td class='auto-style6' style='font-size: smaller;border-top-style: groove; border-width: thin; border-bottom-style: groove'><b>(TAX)%</b></td>" +
                        "<td style='font-size: smaller;border-top-style: groove; border-width: thin; border-bottom-style: groove'><b>TAXXABLE AMT</b></td>" +
                        "<td class='auto-style4' style='font-size: smaller;border-top-style: groove; border-width: thin; border-bottom-style: groove' colspan='2'><b>TAX AMOUNT</b></td>" +
                        "<td style='font-size: smaller;border-top-style: groove; border-width: thin; border-bottom-style: groove'><b>TOTAL</b></td>" +
                        "</tr>" +
                        "<tr>" +
                        "<td class='auto-style7' style='border-bottom-style: groove; border-width: thin'>" + data[i].TAX_per + "</td>" +
                        "<td style='border-bottom-style: groove; border-width: thin'>" + data[i].Taxable_Amt + "</td>" +
                        "<td style='border-bottom-style: groove; border-width: thin' colspan='2'>" + data[i].TAX_amt + "</td>" +
                        "<td style='border-bottom-style: groove; border-width: thin'>" + data[i].Total + "</td>" +
                        "</tr>";
                }
                $("#Acv1").append(fill);
                $("#Acv2").append(fill1);
                $("#Acv3").append(fill2);
            }
            //2022/2/2
                    , error: function (request, status, error) {
                  location.reload();
                }
            //$("#ReceivedAMT").html('');
            //fill = "";
            //for (var i = 0; i < data.Pay_data.length; i++) {
            //    fill += "<div class='col-5'>" +
            //        "<input type='button' value='" + data.Pay_data[i].PaymentName + ":" + data.Pay_data[i].FC_Amount_Tendered + "' id='" + data.Pay_data[i].Payment_ID + "' class='btn btn-warning' style='font-size:larger;float:left;margin:5px;' onclick='remove_payment(this.id)'/>" +
            //        "</div>";
            //}
            //$("#ReceivedAMT").append(fill);
            //}
        });
    }

    function prt_test() {
        var t1 = document.getElementById("Acv1").innerHTML;
        var t2 = document.getElementById("Acv2").innerHTML;
        var t3 = document.getElementById("Acv3").innerHTML;
        //var t4 = document.getElementById("Acv4").innerHTML;
        var htmlstring = '<html><head>';
        htmlstring = '<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">';
        htmlstring += '</head > <body>';
        htmlstring += '<table style="width:100%;">';
        htmlstring += t1;
        htmlstring += '</table>';
        htmlstring += '<table style="width:100%;">';
        htmlstring += t2;
        htmlstring += '</table>';
        htmlstring += '<table style="width:100%;">';
        htmlstring += t3;
        htmlstring += '</table>';
        //htmlstring += '<table style="width:100%;">';
        //htmlstring += t4;
        //htmlstring += '</table>';
        htmlstring += '<style>';
        htmlstring += '@@media print {   html, body { size:80mm 210mm; height:100%; position:absolute;margin: 0mm 0mm 0mm 0mm;} @@page {size:auto;; margin: 0mm 0mm 0mm 0mm;  } }';
        htmlstring += '</style>';
        htmlstring += '</body></html>';

        PrnAnd.showToast(htmlstring);
        //setTimeout(function () { myWindow.close();location.href = '/RTC/Menu'; }, 15000);
    }

    function prt() {
        var t1 = document.getElementById("Acv1").innerHTML;
        var t2 = document.getElementById("Acv2").innerHTML;
        var t3 = document.getElementById("Acv3").innerHTML;
        var myWindow = window.open('', '', 'width=800,height=800');
        myWindow.document.write('<html><head>');
        myWindow.document.write('<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">');    
        myWindow.document.write('</head > <body>');
        myWindow.document.write('<table style="width:100%;">');
        myWindow.document.write(t1);
        myWindow.document.write('</table>');
        myWindow.document.write('<table style="width:100%;">');
        myWindow.document.write(t2);
        myWindow.document.write('</table>');
        myWindow.document.write('<table style="width:100%;">');
        myWindow.document.write(t3);
        myWindow.document.write('</table>');      
        myWindow.document.write('<style>');
        myWindow.document.write('@@media print {   html, body { size:80mm 210mm; height:100%; position:absolute;margin: 0mm 0mm 0mm 0mm;} @@page {size:auto;; margin: 0mm 0mm 0mm 0mm;  } }');
        myWindow.document.write('</style>');        
        myWindow.document.write('</body></html>');
        myWindow.print();      
     
        //setTimeout(function () { myWindow.close();location.href = '/RTC/Menu'; }, 15000);
      
    }
</script>